img {
    width: 40%;
    display: block;
    margin: 0 auto;
    min-width: 300px;
}
div a {
    color: white;
    background-color: aqua;
    padding: 15px;
    font-size: 1.2em;
    margin: 5px;
    font-family: calibri;
    border-radius: 5px;
    box-shadow: -2px -2px 2px salmon;
}
div {
    background-color: black;
    margin: 0 auto;
    width: 60%;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div a:hover {
    background-color: red;
    color: black;
    font-weight: bold;
}