img {
    width: 40%;
    display: block;
    margin: 0 auto;
    min-width: 300px;
}
div a {
    color: white;
    background-color: aqua;
    padding: 15px;
    font-size: 1.2em;
    margin: 5px;
    font-family: calibri;
    border-radius: 5px;
    box-shadow: -2px -2px 2px salmon;
}
div {
    background-color: black;
    margin: 0 auto;
    width: 60%;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div a:hover {
    background-color: red;
    color: black;
    font-weight: bold;
}
ul {
    border-top: 4px dashed black;
    padding-top: 30px;
    font-style: italic;
    margin: 50px;
    font-size: 2.5em;
    font-family: calibri;
}
ul li {
    list-style: none;
    text-align: center;
}
ul li:hover {
    background-color: gray;
    color: white;
    border-radius: 25px;
}
span {
    background-color: #1279ed;
    color: white;
    display: block;
    text-align: center;
    padding: 30px;
    font-family: Arial;
    font-size: 2.5em;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin: 25px 50px;
    border-radius: 25px;
}
p {
    text-align: center;
    margin: 25px 50px;
    border-left: 7px solid red;
    font-size: 3em;
    padding: 15px;
    line-height: 50px;
    font-family: calibri;
    background-color: #ebecda;
    font-style: italic;
}
h1 {
    border-bottom: 3px dashed black;
    padding-bottom: 5px;
    text-align: center;
    margin: 20px 50px;
    font-family: "century gothic";
}