@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
body {
    background-color: aquamarine;
    font-family: tahoma;
    width: 75%;
    margin: 0 auto;
}
h1 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color: pink;
    font-size: 4.0em;
    margin-left: 15%;
    margin-right: 15%;
    background-color: beige;
    border-radius: 50px;
}
h2 {
    font-family: 'Petemoss', cursive;
    text-align: center;
    color: #418b2f;
    font-size: 120px;
    border-bottom: 3.5px dashed green;
}
h2,ul,ol,p {
    margin: 80px 60px;
}
span {
    color: orange;
    text-decoration: underline;
}
strong {
    color: #e6ee3f;
    text-decoration: line-through;
}
p {
    border-top: 30px solid #420221;
    border-radius: 25px 0px;
    padding: 25px;
    background-color: #F7F5F6;

    font-family: "Mystery Quest" ;
}
ol, ul {
    border-bottom: 30px solid black;
    border-radius: 30px 0px 0px;
    padding: 30px;
    font-size: 40px;
    background-color: #D5F3CD;
    font-family: "Petemoss", cursive;
}
li {
    padding-bottom: 10px;
    list-style-position: inside;
}
ol, li {

    list-style-type: lower-alpha;
}
ul li {
    list-style-type: circle;
}
a {
    text-decoration: none;
    color: brown;
    font-size: 130%;
}