body {
    background-color: lightyellow;
    margin: 20px auto;
    width: 80%;
    font-family: calibri;
    
}
h1, h2 {
    font-size: 3em;
    margin: 30px;
    background-color: white;
    padding: 30px;
    word-spacing: 10px;
}
h1 {
    font-size: 2.5em;
    color: blue;
    text-align: center;
    background-color:violet;
    border-bottom: 25px solid gray;
    border-radius: 20px;
    padding: 15px;
}
h2 {
    font-size: 2em;
    color: white;
    text-align: left;
    border-radius: 20px;
    border-top: 5px dashed black;
    background-color: blue;
    border-bottom: 25px solid gray;
    padding: 15px;
}
img {
    border-radius: 15px;
    border: 7px double black;
    width: 1000px;
    background-color: red;
}
h3 {
    text-shadow: 5px 2px lightblue;
    font-size: 1.8em;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
}
ul li {
    list-style: none;
}
p {
    text-indent: 50px;
    text-align: justify;
    font-size: 2em;
    border-bottom: 2px dashed gray;
    padding: 20px;
}
p span {
    color: blue;
    background-color: lightgray; 
    line-height: 42px;   
}
strong {
    color: red;
    text-decoration: underline;
}
em {
    color: orange;
    text-decoration: underline;
}
ol {
    width: 50%;
    margin: auto;
    font-size: 2em;
    list-style-type: lower-roman;
    list-style-position: inside;
    border: 35px solid;
    border-radius: 25px;
    border-style: inset;
    border-color: green;
    color: blue;
}